<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueskykong.auth.dao.mapper.RolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.blueskykong.auth.entity.RolePermission">
        <id column="id" jdbcType="BIGINT" property="id" />
        <!--<result column="role_id" typeHandler="UUIDTypeHandler" property="id" />  出现错误-->
        <result column="role_id" typeHandler="UUIDTypeHandler" property="roleId" />
        <result column="permission_id" typeHandler="UUIDTypeHandler" property="permissionId" />
    </resultMap>
    <sql id="Base_Column_List">
        id, role_id, permission_id
    </sql>

    <select id="selectByRoleId" parameterType="UUID" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from role_permission
        where role_id = #{roleId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from role_permission
        where id = #{id,jdbcType=BIGINT}
    </delete>


    <delete id="deleteByRoleIdAndPermissionId">
        delete from role_permission
        where role_id = #{roleId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
        and  permission_id = #{permissionId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
    </delete>

    
    <insert id="insert" parameterType="com.blueskykong.auth.entity.RolePermission">
        insert into role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="permissionId != null">
                permission_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                #{roleId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
            </if>
            <if test="permissionId != null">
                #{permissionId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.blueskykong.auth.entity.RolePermission">
        update role_permission
        <set>
            <if test="roleId != null">
                role_id = #{roleId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
            </if>
            <if test="permissionId != null">
                permission_id = #{permissionId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
</mapper>
