<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UUID" type="java.util.UUID"/>
        <typeAlias alias="UUIDTypeHandler" type="cn.superid.common.mybatis.UuidTypeHandler"/>
        <typeAlias alias="ShortList" type="java.util.List"/>
        <typeAlias alias="ShortListHandler" type="com.blueskykong.auth.dao.typehandler.ShortListTypeHandler"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="cn.superid.common.mybatis.UuidTypeHandler"/>
        <typeHandler handler="com.blueskykong.auth.dao.typehandler.ShortListTypeHandler"/>

    </typeHandlers>

</configuration>
